@model List<ASP.Models.Pelicula>

@{
    ViewBag.Title = "Contact";
    Layout = null;
}

<div>
    Mostrando @Model.Count películas
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.UnInt</h4>
<h4>@ViewBag.UnaFecha</h4>
<h4>@ViewData["MiMensaje"]</h4>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<form action="/home/contact" method="post">
    <input type="number" name="edad" value="" />
    <input type="submit" name="name" value="Enviar" />
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pelicula in Model)
        {
            var claseFila = (!pelicula.EstaEnCartelera) ? "danger" : string.Empty;

            <tr class="@claseFila">
                <td>@pelicula.Titulo</td>
                <td>@pelicula.Genero</td>
            </tr>
        }
    </tbody>
</table>